<%- include('./header.ejs'); %>

<header>
    <div class="header">
        <h2>Dynamic Avatar Dashboard </h2>
    </div>
    
    <div class="stats">
        <span>Last Updated : <%= lastUpdate %> </span>
        <span>Total Avatar Url : <%= urlList.length %> </span>
        <span id="random-url">Random Avatar URL: 
            <code>
                <%= endpoint %>
            </code>
        </span>
    </div>

</header>

<main id="dashboard">
    <div class="urlImg-container">
        <% for( let index = 0; index < urlList.length; index++ ) { %>

        <div class="card my-card">
            <img
                src="<%= urlList[index].url %>"
                class="card-img-top"
                alt="nothing image"
            />
        </div>
        <% } %>
    </div>


    <% if (urlList.length==0) { %>
        <%- include('./empty.ejs') %>
    <% } %>

</main>

<%- include('./footer.ejs'); %>
